h1
  font-size: 72px
  font-weight: 700
  line-height: 1
  letter-spacing: em(-1.22, 72)

.h3-title
  font-size: 28px
  letter-spacing: em(-0.17, 28)
  font-weight: 700

+r($lg)
  h1
    font-size: 46px
  .h3-title
    font-size: 24px

+r($sm)
  h1
    font-size: 36px

  .h3-title
    font-size: 18px

+r($mobile-s)
  h1
    font-size: 32px
  .h3-title
    font-size: 15px

.more-link
  position: relative
  z-index: 1
  display: inline-flex
  align-items: center
  margin-left: 5px
  font-size: 0
  color: $colorRed
  padding-right: 10px
  transition: .25s $ease
  &--no-margin
    margin-left: 0

  span
    display: inline-block
    font-size: 16px
    text-transform: uppercase
    font-weight: 700
    letter-spacing: em(0.5, 16)
  .ico
    position: absolute
    top: 50%
    right: 0
    font-size: 13.5px
    transform: translate(0, -55%)
    transition: transform .25s $ease
  &:hover
    color: $colorRedHover
    .ico
      transform: translate(3px, -55%)


// little inline helpers
// TODO - boostrap ?
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-700
  font-weight: 700

.f-900
  font-weight: 900
