h1
  font-size: 72px
  font-weight: 700
  line-height: 1
  letter-spacing: -0.0112em

// little inline helpers
// TODO - boostrap ?
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-700
  font-weight: 700

.f-900
  font-weight: 900
