// ABOUT
.about
  // head
  .about__head
    .container      
      .row.align-items-center
        .col-12.col-md
          .h3-title OUR HOME
          
        .col-12.col-md-auto
          ul.tabs-nav
            li
              a.is-active(href="#") CLUB
            li 
              a(href="#") HOSPITALITY
            li 
              a(href="#") REGION
            li
              a(href="#") ACADEMY
           
          
  // wrapper    
  .about__wrapper
    .container
      .about__slider(js-about-swiper).swiper-container
        // bootstrap system will work > 992px only
        // less < 992 - controlled by swiper
        .row.swiper-wrapper
          .col-lg-4.about__slider-slide
            // about card
            a(href="article.html").about-card.no-barba
              .about-card__background
                img(src='img/aboutCover_1.jpg' srcset='img/aboutCover_1@2x.jpg 2x')
              .about-card__contents
                .about-card__title MATCH DAY 
                .about-card__link HOW TO FIND US
          .col-lg-4.about__slider-slide
            // about card
            a(href="article.html").about-card.no-barba
              .about-card__background
                img(src='img/aboutCover_2.jpg' srcset='img/aboutCover_2@2x.jpg 2x')
              .about-card__contents
                .about-card__title RODNEY PARADE A 
                .about-card__link GLORIOUS HISTORY
                
          .col-lg-4.about__slider-slide
            // about card
            a(href="article.html").about-card.no-barba
              .about-card__background
                img(src='img/aboutCover_3.jpg' srcset='img/aboutCover_3@2x.jpg 2x')
              .about-card__contents
                .about-card__title YOUR CLUB 
                .about-card__link FOR THE MANY
