// ABOUT
.about
  // head
  .about__head
    .container      
      .row.align-items-center
        .col-12.col-md
          .h3-title OUR HOME
          
        .col-12.col-md-auto
          ul.tabs-nav
            li
              a.is-active(href="#") CLUB
            li 
              a(href="#") HOSPITALITY
            li 
              a(href="#") REGION
            li
              a(href="#") ACADEMY
           
          
  // wrapper    
  .about__wrapper
    .container
      .row
        .col-12.col-md-4
          // about card
          a(href="#").about-card
            .about-card__background
              img(src='img/aboutCover_1.jpg' srcset='img/aboutCover_1@2x.jpg 2x')
            .about-card__contents
              .about-card__title MATCH DAY 
              .about-card__link HOW TO FIND US
        .col-12.col-md-4
          // about card
          a(href="#").about-card
            .about-card__background
              img(src='img/aboutCover_2.jpg' srcset='img/aboutCover_2@2x.jpg 2x')
            .about-card__contents
              .about-card__title RODNEY PARADE A 
              .about-card__link GLORIOUS HISTORY
              
        .col-12.col-md-4
          // about card
          a(href="#").about-card
            .about-card__background
              img(src='img/aboutCover_3.jpg' srcset='img/aboutCover_3@2x.jpg 2x')
            .about-card__contents
              .about-card__title YOUR CLUB 
              .about-card__link FOR THE MANY
