// article navigation
.article-nav
  .container
    .article-nav__wrapper
      .row
        .col-12.col-md-6
          a(href="#").article-nav__btn.article-nav__btn--prev
            .article-nav__icon
              +icon('ico-swiper-arrow')
            .article-nav__content 
              .article-nav__name Previous News Article
              .article-nav__title Wales Run out Victors 23 – 10 over Argentina - more text will be trimmed with three dots
                
        .col-12.col-md-6
          a(href="#").article-nav__btn.article-nav__btn--next
            .article-nav__content 
              .article-nav__name Next News Article
              .article-nav__title A warm welcome to our new sponsors
            .article-nav__icon
              +icon('ico-swiper-arrow')  
