// FOOTER :: START
footer.footer(js-reveal-footer)
  .container
    .footer__wrapper
      // contacts
      .footer__contacts
        .footer-contact
          .footer-contact__icon
            +icon('ico-ticket')
          .footer-contact__holder
            .footer-contact__title TICKET PURCHASE 
            .footer-contact__text 
              a(href="tel:01633674990") 01633 674 990
        // next contact
        .footer-contact
          .footer-contact__icon
            +icon('ico-phone')
          .footer-contact__holder
            .footer-contact__title General enquiries
            .footer-contact__text 
              a(href="tel:01633674990") 01633 674 990
        // next contact
        .footer-contact
          .footer-contact__icon
            +icon('ico-location')
          .footer-contact__holder
            .footer-contact__title Find us 
            .footer-contact__text 
              a(href="https://www.google.com/maps/search/Rodney+Parade,+Newport,+Gwent++%E2%80%A8NP19+0UU/@51.5889672,-2.9898013,16.64z" target="_blank")
                | Dragons <br/>
                span.f-400
                  | Rodney Parade, Newport, Gwent <br/>
                  |  NP19 0UU
                                      
      // menu
      ul.footer__menu
        li
          a(href="#") Home
        li
          a(href="#") News
        li
          a(href="#") Tickets
        li
          a(href="#") Teams
        li
          a(href="#") Match
        li
          a(href="#") REGION
        li
          a(href="#") Shop
        li
          a(href="#") CommerciaL
        li
          a(href="#") Contact
        
      // controls
      .footer__controls
        // socials
        .footer__socials
          .footer__socials-title Follow
          .social-icons.social-icons--24
            .social-icons__col
              a(href="https://www.facebook.com/dragonsrugby.wales" target="_blank" area-label="Facebook").social-icons__icon.social-icons__icon--facebook
                +icon('ico-social-facebook')
            .social-icons__col
              a(href="https://www.instagram.com/dragonsrugby/" target="_blank" area-label="Instagram").social-icons__icon.social-icons__icon--instagram
                +icon('ico-social-instagram')
            .social-icons__col
              a(href="https://twitter.com/dragonsrugby" target="_blank" area-label="Twitter").social-icons__icon.social-icons__icon--twitter
                +icon('ico-social-twitter')
            .social-icons__col
              a(href="https://www.youtube.com/channel/UCdB_8F9Yqur14jXdSzxyQeA" target="_blank" area-label="YouTube").social-icons__icon.social-icons__icon--youtube
                +icon('ico-social-youtube')
                
        // subscription
        .footer__subscription
          form(action="#" js-subscription-validation-footer).subsc-form.subsc-form--smaller
            input.subsc-form__input.ui-input(
              type="email" 
              placeholder="Join our Mailing List"
              id="email"
              name="email")
            button.subsc-form__cta.btn.btn-primary(type="submit") SUBSCRIBE
        
        // sponsor
        .footer__sponsor
          span.footer__sponsor-text Main Club  Sponsor
          a(href="#").footer__sponsor-logo
            i.icon.icon-logo-monmouthshire-white(area-label="monmouthshire")
        
        // logo
        .footer__logo
          i.icon.icon-logo-medium(area-label="dragons logo")
          
                
// FOOTER :: END
