
// SPONSORS
section.sponsors
  .container
    .sponsors__head
      .row.align-items-center
        .col
          .h3-title OFFICIAL SPONSORS
        .col-auto.d-none.d-lg-block.sponsors__more
          span Would you like to be part of our success?  
          a(href="#").more-link
            span FIND OUT MORE
            +icon('ico-arrow-right')
    
    .sponsors__grid
      .row
        .col-12.col-lg-2
          .sponsors__title Headline Sponsor
          .sponsors__logo.sponsors__logo--full
            img(src='img/sponsors/monmouthsire.png' srcset='img/sponsors/monmouthsire@2x.png 2x' alt="" js-lazy)
            
        .col-12.col-lg-10
          .sponsors__title Main Sponsors
          .row
            .col.sponsors__logo
              img(src='img/sponsors/logo1.png' srcset='img/sponsors/logo1@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo2.png' srcset='img/sponsors/logo2@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo3.png' srcset='img/sponsors/logo3@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo4.png' srcset='img/sponsors/logo4@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo5.png' srcset='img/sponsors/logo5@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo6.png' srcset='img/sponsors/logo6@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo7.png' srcset='img/sponsors/logo7@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo8.png' srcset='img/sponsors/logo8@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo9.png' srcset='img/sponsors/logo9@2x.png 2x' alt="" js-lazy)
        
          .sponsors__title Partners
          .row
            .col.sponsors__logo
              img(src='img/sponsors/logo10.png' srcset='img/sponsors/logo10@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo11.png' srcset='img/sponsors/logo11@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo12.png' srcset='img/sponsors/logo12@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo13.png' srcset='img/sponsors/logo13@2x.png 2x' alt="" js-lazy)
            .col.sponsors__logo
              img(src='img/sponsors/logo14.png' srcset='img/sponsors/logo14@2x.png 2x' alt="" js-lazy)

    
    .d-block.d-lg-none.sponsors__more
      span Would you like to be part of our success?  
      a(href="#").more-link
        span FIND OUT MORE
        +icon('ico-arrow-right')                                            
