---
title: Article page
---
extends shared/_layout
block content
  
  // SECTION
  article.article
    .container
      // head
      .article__head
        h1 CHARITY NEWS & MATCH DAY COLLECTIONS
      
      // content
      .article__content
        .row
          .col Test
          .col Test 2
