---
title: Homepage page
---
extends shared/_layout
block content
  include shared/_news-cards
  
  // HOME
  
  // NEWS
  .news
    // head
    .news__head
      .container
        .row.align-items-center
          .col-12.col-md
            h1.h2-title LATEST NEWS
            
          .col-12.col-md-auto
            a(href="#").more-link
              span SEE ALL NEWS
              +icon('ico-arrow-right')
            
    // wrapper
    .news__wrapper
      .container
        // masonry
        .news__masonry(js-masonry itemscope itemtype="http://schema.org/ItemList")
          // schema.org hidden
          link(itemprop="mainEntityOfPage" href="https://dragons-team.surge.com/news.html")
          meta(name="itemListOrder" content="Descending")
          
          // grid sizer
          .grid-sizer(js-masonry-grid-sizer)

          +newsCard_1
          +newsCard_2
          +newsCard_3
          
          +newsCard_2
          +newsCard_4
          +newsCard_5

  
  include components/_fixtures
  
  include components/_about
  
  include components/_sponsors
