---
title: News page
---
extends shared/_layout
block content
  include shared/_news-cards
  
  // NEWS
  .news
    // head
    .news__head
      .container
        .row.align-items-center
          .col-12.col-md
            h1.h2-title LATEST NEWS
            
          .col-12.col-md-auto
            // remove js-masonry-filter and data-filters if sorting comes at another page
            ul.tabs-nav
              li
                a.is-active(href="#") ALL
              li 
                a(href="#") CLUB
              li 
                a(href="#") CORPORATE
              li 
                a(href="#") COMMUNITY
              li 
                a(href="#") YOUTH
            
    // wrapper
    .news__wrapper
      .container
        // NO masonry - remove js-masonry and js-grid-sizer
        .news__masonry(itemscope itemtype="http://schema.org/ItemList")
          // schema.org hidden
          link(itemprop="mainEntityOfPage" href="https://dragons-team.surge.com/news.html")
          meta(name="itemListOrder" content="Descending")
                 
          +newsCard_1
          +newsCard_2
          +newsCard_3
          
          +newsCard_2
          +newsCard_4
          +newsCard_5
          
          +newsCard_3
          +newsCard_2
          +newsCard_1

          +newsCard_5
          +newsCard_2
          +newsCard_4
      
        
        // more button
        .news__more
          a(href="#" js-load-more).btn.btn-big.btn-big--black Load More
          
      
                      
  include components/_fixtures
  
  include components/_about
  
  include components/_sponsors
