.news
  background: #EAECE7
  padding: 55px 0 85px
  &__head

  &__wrapper

  &__masonry
    position: relative
    z-index: 5
    margin-left: -16px
    margin-right: -16px
    font-size: 0

  &__more
    margin-top: 30px
    .btn
      display: block
      margin-left: auto
      margin-right: auto
      max-width: 390px

.grid-sizer
  // width: calc(25% - 36px)
  width: 25%


// news card
.news-card
  // masonry instance - requires wrapper for relative pos
  display: block
  // width: calc(25% - 36px)
  // margin-bottom: 36px
  width: 25%
  padding: 18px
  // outline: 1px solid $colorRed
  &--wide
    // width: calc(50% - 36px)
    width: 50%
    .news-card__background
      padding-bottom: 53.33%

  &__wrapper
    position: relative
    z-index: 1

  &__background
    padding-bottom: 113.47%
    position: relative
    z-index: 1
    overflow: hidden
    font-size: 0
    user-select: none
    pointer-events: none
    img
      position: absolute
      top: 50%
      left: 50%
      z-index: 1
      width: 100%
      transform: translate(-50%,-50%)
      will-change: transform
      backface-visibility: hidden
      transition: .75s easeOutQuart
    &::after
      // gradient mask
      display: inline-block
      content: ' '
      position: absolute
      bottom: 0
      left: 0
      right: 0
      z-index: 2
      height: 50%
      background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 61%, rgba(7,7,7,0.50) 95%);
      // force 3d
      backface-visibility: hidden
      transform: translate3d(0,0,0)

  &__content
    position: absolute
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    z-index: 2
    display: flex
    flex-direction: column
    // bigger top padding for .tag
    padding: 40px 15px 8px
    color: white

  &__title
    font-size: 24px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: em(-1, 24)
    line-height: 1
    text-transform: uppercase
    padding-right: .3em
    transition: .25s $ease

  &__timestamp
    font-size: 12px
    letter-spacing: em(-.25, 12)
    line-height: 2.5
    transition: color .25s $ease

  &__tag
    position: absolute
    top: 0
    left: 0
    z-index: 3

  // partly cloned more-link instance
  &__category
    position: relative
    z-index: 1
    overflow: hidden
    display: flex
    align-items: baseline
    font-size: 0
    background: $colorRed
    color: white
    padding: 10px 25px 10px 15px
    transition: .25s $ease
    span
      display: inline-block
      font-size: 12px
      text-transform: uppercase
      font-weight: 700
      letter-spacing: em(0.5, 16)
    > .ico
      position: absolute
      z-index: 1
      top: 50%
      right: 10px
      font-size: 10.5px
      // dirty fix to align icon on font baseline (flex not helping)
      transform: translate(0, -55%)
      will-change: transform
      transition: transform .25s $ease

    &--iconed
      padding-right: calc(15px + 33px)
    &-icon
      background: #D0021B
      position: absolute
      top: 0
      bottom: 0
      right: 0
      display: flex
      flex-direction: column
      width: 33px
      .ico
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        font-size: 11px
    &-icon-wrap
      flex: 1 1 auto
      position: relative
      z-index: 2

    &:hover
      background-color: $colorRedHover
      > .ico
        transform: translate(3px, -55%)

  &:hover
    .news-card
      &__background
        img
          transform: translate(-50%,-50%) scale(1.1)
      &__timestamp
        color: rgba(white, .8)
      &__title
        color: rgba(white, .8)
        // transform: translate(.3em,0)


/* News media rules
+r($xl)
  .news-card
    &__title
      font-size: 22px


+r($lg)
  .news
    padding: 40px 0 70px
    &__masonry
      margin-left: -10px
      margin-right: -10px

  .grid-sizer
    width: 33.3%

  .news-card
    width: 33.3%
    padding: 10px
    &--wide
      width: 66.6%

+r($md)
  .news
    &__wrapper
      margin-top: 30px

    &__head
      .h2-title
        margin-bottom: 0

  .grid-sizer
    width: 50%

  .news-card
    width: 50%
    &--wide
      width: 100%

+r($sm)
  .news
    padding: 35px 0 50px

  .grid-sizer
    width: 100%

  .news-card
    width: 100%
    &__background
      padding-bottom: 56.25%
    &--wide
      width: 100%
      .news-card__background
        padding-bottom: 56.25%

+r($mobile-s)
  .news
    &__masonry
      margin-left: -5px
      margin-right: -5px
  .news-card
    padding: 5px
    &__content
      padding: 38px 10px 6px
    &__title
      font-size: 18px
    &__timestamp
      font-size: 11px

    &__category
      padding-left: 10px
      padding-right: 20px
      span
        font-size: 11px
      > .ico
        font-size: 9.5px
      &--iconed
        padding-right: calc(10px + 33px)
