.player
  &__head
    padding-top: 50px
    .col-12
      display: flex
      flex-direction: column

  &__image
    flex: 1 1 auto
    position: relative
    z-index: 1
    font-size: 0
    background: $lightBg
    img
      position: relative
      z-index: 2
      width: 100%

  &__image-background-fill
    position: absolute
    left: 0
    top: 0
    bottom: 0
    z-index: 1
    background: $lightBg
    // to be calculated with js

  &__scope-wrapper

  &__scope

  &__name
    font-size: 48px
    font-weight: 700
    letter-spacing: em(-.55, 48)
    line-height: 1
    color: $colorRed
    text-transform: uppercase

  &__position
    font-size: 48px
    font-weight: 700
    letter-spacing: em(-.55, 48)
    text-transform: uppercase

  &__info
    margin-top: 30px
  &__info-row
    padding: 7px 0
    border-bottom: 1px solid #EAECE7
    font-size: 18px
    font-weight: 500
    letter-spacing: em(-.11, 16)
    strong
      font-weight: 700

  &__sponsor
    margin-top: 30px
    img
      max-width: 100%
  &__sponsor-title
    font-size: 13px
    display: block
    margin-bottom: 7px

  &__share
    margin-top: 40px

  &__content
    margin-top: -40px
    background: $lightBg
    padding-top: 100px
    padding-bottom: 120px

  &__description
    font-size: 28px
    font-weight: 500
    letter-spacing: em(-.18, 28)
    p
      + p
        margin-top: 2em


+r($xl)
  .player
    &__scope-wrapper
      // margin-left: -3%
      padding-left: 15px
    &__name
      font-size: 42px
    &__position
      font-size: 42px
    &__info
      margin-top: 25px
    &__info-row
      font-size: 16px
    &__sponsor
      margin-top: 25px
    &__share
      margin-top: 30px

+r($lg)
  .player
    &__scope-wrapper
      padding-left: 0px
    &__name
      font-size: 38px
    &__position
      font-size: 38px
    &__info
      margin-top: 20px
    &__info-row
      font-size: 14px
      padding: 5px 0
    &__sponsor
      margin-top: 20px
    &__share
      margin-top: 30px

    &__content
      // margin-top: 0
      padding-top: 70px
      padding-bottom: 100px
    &__description
      font-size: 24px

+r($md)
  .player
    &__image
      max-width: 400px
    &__scope
      margin-top: 30px

    &__content
      // margin-top: 0

+r(700)
  .player
    &__content
      padding-bottom: 80px
    &__table-scrollable
      // min-width: 600px
      overflow-x: scroll
      padding-bottom: 20px

+r($sm)
  .player
    &__head
      padding-top: 30px

    &__scope
      margin-top: 30px
    &__name
      font-size: 34px
    &__position
      font-size: 34px

    &__content
      padding-bottom: 60px
    &__description
      font-size: 18px


+r($mobile-s)
  .player
    &__name
      font-size: 26px
    &__position
      font-size: 26px
    &__info-row
      font-size: 13px
    &__description
      font-size: 16px
