.sponsors
  margin-top: auto
  position: relative
  background: #EAECE7
  padding: 70px 0 100px
  &__title
    font-size: 14px
    font-weight: 500
    padding-bottom: 15px
    border-bottom: 1px solid currentColor

  &__head

  &__grid
    margin-top: 90px

  &__logo
    margin: 40px 0
    // as bootstrap have no .5-col things
    flex: 0 0 20%
    max-width: 20%
    // display: flex
    // align-items: center
    // justify-content: center
    text-align: center
    &--full
      flex-basis: 100%
      max-width: 100%
    img
      max-width: 100%
      // negative saturation is not supported
      // filter: saturate(-1)
      filter: grayscale(100%)
      mix-blend-mode: multiply
      transition: filter .25s $ease
    &:hover
      img
        filter: none

  &__more
    display: flex
    align-items: baseline
    flex-wrap: wrap
    > span
      display: inline-block
      margin-right: 7px
      margin-bottom: 5px

+r($lg)
  .sponsors
    padding-bottom: 70px
    &__grid
      margin-top: 60px
      // for the desktop hidden element
      margin-bottom: 30px
    &__logo
      margin: 30px 0

+r($md)
  .sponsors
    &__title
      padding-bottom: 10px

    &__logo
      flex-basis: 25%
      max-width: 25%
      &--full
        flex-basis: 100%
        max-width: 100%

+r($sm)
  .sponsors
    padding-top: 35px
    padding-bottom: 50px
    &__title
      font-size: 12px
      padding-bottom: 7px

    &__grid
      margin-top: 35px
    &__logo
      flex-basis: 33.3%
      max-width: 33.3%
      margin: 25px 0
      &--full
        flex-basis: 100%
        max-width: 100%

    &__more
      > span
        font-size: 13px
        
