.subsc-form
  position: relative
  width: 100%
  &__input
    padding-right: 90px

  &__cta
    position: absolute
    top: 0
    bottom: 0
    right: 0
    max-width: 80px
    // overwrite defaults
    padding-left: 7px
    padding-right: 7px
  &--smaller
    .subsc-form
      &__input
        padding-top: 6px
        padding-bottom: 5px
      &__cta
        padding-top: 7px
        padding-bottom: 6px
