.table
  width: 100%
  border-collapse: collapse
  font-size: 18px
  color: $fontColor
  letter-spacing: em(0.56, 18)
  thead
    td
      background: black
      color: white
      font-weight: 700
      text-transform: uppercase

  tbody
    tr

    td
      background: $lightBg
      span
        // display: inline-block
      .f-700
        // margin-right: 10px
      a
        position: relative
        z-index: 1
        color: $colorRed
        transition: color .25s $ease
        &::after
          display: inline-block
          content: ' '
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 1px
          background: currentColor
          transition: color .25s $ease
        &:hover
          color: $colorRedHover

  td
    padding: 20px 20px 20px
    border-bottom: 4px solid white

  &__player-row
    position: relative
    display: flex
    .f-700
      position: absolute
      top: 0
      left: 0
      margin-right: 10px
    span:nth-child(2)
      padding-left: 1.2em

+r($xl)
  .table
    font-size: 16px

+r($lg)
  .table
    font-size: 14px
    td
      padding: 15px

+r($sm)
  .table
    td
      border-width: 2px
      padding: 10px 10px
      &:first-child
        padding-left: 15px
      &:last-child
        padding-right: 15px

+r($mobile-s)
  .table
    td
      &:first-child
        padding-left: 10px
      &:last-child
        padding-right: 10px
/* lineup tables grid modifiers
.lineup-tables
  .col-lg-6:first-child
    &::after
      display: inline-block
      content: 'V'
      color: $colorRed
      position: absolute
      right: -18px
      top: 20px
      // fit gutter
      width: 36px
      font-size: 20px
      font-weight: 700
      color: $colorRed2
      letter-spacing: em(-2.78, 60)
      line-height: 1
      text-align: center

  &__heading
    margin: 90px 0 40px
    font-size: 36px
    letter-spacing: em(-.22, 36)
    font-weight: 700
    text-transform: uppercase

+r($lg)
  .lineup-tables
    .col-lg-6:first-child
      margin-bottom: 30px
      &::after
        display: none

    &__heading
      margin: 70px 0 30px
      font-size: 32px

+r($sm)
  .lineup-tables
    .col-lg-6:first-child
      margin-bottom: 20px

    &__heading
      margin: 50px 0 20px
      font-size: 24px

+r($mobile-s)
  .lineup-tables
    &__heading
      font-size: 20px
      margin-top: 40px
      margin-bottom: 15px
