.ico-arrow-menu-second-lvl {
  width: 0.6em;
  height: 1em;
  fill: #000;
}
.ico-arrow-menu {
  width: 1.67em;
  height: 1em;
  fill: #FBFBFB;
}
.ico-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: #B12428;
}
.ico-location {
  width: 0.71em;
  height: 1em;
  fill: #FABE35;
}
.ico-logo-monmouthshire {
  width: 4.95em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 0.89em;
  height: 1em;
  fill: none;
}
.ico-phone {
  width: 1.04em;
  height: 1em;
  fill: #FABE35;
}
.ico-play {
  width: 0.73em;
  height: 1em;
  fill: #FFF;
}
.ico-share {
  width: 0.9em;
  height: 1em;
  fill: #B12428;
}
.ico-social-facebook {
  width: 0.6em;
  height: 1em;
  fill: #FFF;
}
.ico-social-gplus {
  width: 1.5em;
  height: 1em;
  fill: #FFF;
}
.ico-social-instagram {
  width: 1.1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-twitter {
  width: 1.1em;
  height: 1em;
  fill: #FBFBFB;
}
.ico-social-youtube {
  width: 1.38em;
  height: 1em;
  fill: #FFF;
}
.ico-ticket {
  width: 1.24em;
  height: 1em;
  fill: #FABE35;
}
